body {
  font-family: Arial, sans-serif;
}

.grey {
  background-color: #d3d3d3; /* Grey */
  width: 400px;
  margin: 20px;
}

.blue {
  background-color: #add8e6; /* Light Blue */
  padding: 10px;
}

.lavender {
  background-color: #e6e6fa; /* Lavender */
  margin-top: 10px;
}

.green {
  background-color: #00ff00; /* Green */
}

.yellow {
  background-color: #ffff00; /* Yellow */
}

.red {
  color: red;
}